pytest~=8.3.3
pytest-xdist
pytest-mock

flake8
flake8-builtins
pep8-naming
flake8-variables-names
flake8-import-order
mypy

attrs~=24.2.0
pluggy~=1.5.0
tomli~=2.2.1
setuptools~=75.6.0

# Sync Storage dependencies
requests~=2.31.0
urllib3~=2.0.4
psutil~=5.9.5


testit-api-client==7.5.0
