name: Code checks

on:
  - pull_request

jobs:
  linters:
    name: Auto check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
            ubuntu-latest,
            windows-latest
        ]
        python-version: [
            '3.7',
            '3.8',
            '3.9',
            '3.10'
        ]
        package: [
            testit-adapter-pytest,
            testit-python-commons
        ]
    steps:
      - uses: actions/checkout@v2

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements for ${{ matrix.package }}
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ matrix.package }}/requirements.txt

      - name: Run flake8 [${{ matrix.package }}]
        working-directory: ${{ matrix.package }}
        run: flake8 --ignore=C901 .

      - name: Tests [${{ matrix.package }}]
        working-directory: ${{ matrix.package }}
        run: pytest --basetemp=tmp
